<!DOCTYPE html>
<html>
  <head>

    <title>Artyshop</title>
    <%- include("../fragmente/meta") %>

  </head>
  <body>
    <%- include("../fragmente/header") %>
    <main>
    <%- include("../fragmente/galeriestatica")%>
    </main>
    
    <footer>

        <section id="Aboutus"> 
          <!--
          <h2>About us</h2>
          <a href="tel:0712432543">0712432543</a><br>
          <a href="mailto:help@artyshop.com">help@artyshop.com</a><br>
          <a href="https://www.instagram.com/_andys_arts_/">My instagram art account</a>
          <br>
          <br>
          <br>
          <br>
-->
        

          <a href="#up" id="linkTop"> 
          <div class="tooltip"> 
          <span class="tooltiptext">up</span>
          <span class="upb">      
          <span class="upbs">
          <span class="uptri">
          </span>
          </div>
          </a>
          </span>

        </section>
      <br>
      <p><small> (Your IP address is: <%= ipAddress%>) </small></p>
      <br>
      <p><small> &#169; <time datetime="2021-03-12T20:00:00">12 martie 2021</time>, Artyshop</small></p>

      </footer>

      <br>
      <br>      
      <br>      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>     
      <br>
      <br>
      <br>

  </body>

</html>